/*
  宣言の順序
  関連するプロパティは下記の順序でグルーピングすること。

  1. Positioning（位置関係）
  2. Box model（ボックスモデル）
  3. Typographic（フォント関係）
  4. Visual（見た目）

  refs http://kia-king.com/code-guide/#css-syntax
 */

div {
    /* debug: show off borders */
    /* border: 1px solid #6ac; */
}

.ground {
    width: 100vw;
    height: 100vh;
    white-space: nowrap;
    /* overflow: hidden; */
    overflow: auto;
}

.content-ground {
    display: block;
    float: left;
    width: calc(100vw - 100px - 10px);
    height: 100%;
    overflow: auto;
    background-color: lightgoldenrodyellow;
}

.content-base {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
}

.ground-border {
    display: block;
    float: left;
    width: 10px;
    height: 100%;
    background-color: gray;
    cursor: ew-resize;
}

.control-panel-ground {
    display: block;
    float: left;
    width: 100px;
    height: 100%;
    background-color: lightpink;
}

/* 
.control-panel-origin {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
 */

/*  
.control-panel {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100px;
    height: 100%;
    transition: 0.5s;
    background-color: bisque;
}
 */

.row.debug {
    /* debug: show off borders */
    border: 1px solid #6ca;
}

[class*="col-"].debug {
    /* debug: show off borders */
    border: 1px solid #6ac;
}